Source: dde-file-manager-integration
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>=9), pkg-config, qt5-qmake, qt5-default, qtbase5-dev, libqt5webkit5-dev, 
 		libdde-file-manager-dev, libfontconfig1-dev
Standards-Version: 3.9.6
Homepage: http://www.deepin.org

Package: dde-file-manager-integration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 libdde-file-manager
Description: Deepin File manager plugin integration
 Include the following plugins:
 1: Browse the web page plugin.
 2: View the files in the system clipboard.
 3: Marks the file synchronization status of nutstore.
